@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.styled-table {
  margin: 15px 0;
  font-size: 1.5em;
  font-family: sans-serif;
  min-width: 600px;
  border-spacing: 0px 25px;
  color:white;

}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: calc(10px + 2vmin);
}

/*Heading*/

.header {
  flex-direction: row;
  display: flex;
  min-height: 40vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: #E74645;
  color: white;
}
.header-logo {
  fill:white;
  flex-direction: row;
}
.header-text {
  font-size: 45px;
  padding: 30px;
}


.trips-element,.info-element,.number-of-stations {
  flex-grow: 1;
  min-width: 40%;
}

.trips-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of-stations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coloured{
  color: #FB7756;
}

.month-text {
  display: flex;
}

.bike-logo{
  fill: #FACD60;
  flex-direction: column;
  height: 50%;

}
.number-of-stations-heading {
  flex-direction: column;
}

.pie-element {
  height: 500px;
  width: 500px;
}

.line-chart-element {
  height: 500px;
  width: 1000px;
}

td {
  padding: 1.5rem;
}

tr:nth-child(1) { background: #E74645; }
tr:nth-child(2) { background: #FB7756; }
tr:nth-child(3) { background: #E74645; }
tr:nth-child(4) { background: #FB7756; }
tr:nth-child(5) { background: #E74645; }
tr:nth-child(6) { background: #FB7756; }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
