/* General styles */

body {
  font-size: 26px;
}

h1 {
  font-size:3.5em;
}

h2 {
  font-size: 1.17em;
  text-align: center;
}

h2 em {
  color: #fb7756;
  text-decoration: none;
  font-style: normal;
  margin-top: 0.5em;
}

h2 em.extra-emphasis {
  font-size: 1.5em;
  display: block;
}

td {
  padding: 1.5rem;
}

th {
  padding: 0.1em;
  font-size: 1.2em;
  text-align: left;
  color: black;
  background-color: white;
}

tr:nth-child(odd) { background: #E74645; }
tr:nth-child(even) { background: #FB7756; }

/* Heading */
.header {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #E74645;
  color: white;
}
.header-logo {
  fill:white;
  flex-direction: row;
}
.header-text {
  padding: 30px;
}

/* Everything else */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trips-element,.popular-month, .top-5, .number-of-stations {
  flex-grow: 1;
  min-width: 40%;
}

.trips-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of-stations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-5{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.popular-month-text {
  display: flex;
}

.bike-logo{
  fill: #FACD60;
  flex-direction: column;
  height: 50%;
}

.number-of-stations-heading {
  flex-direction: column;
}

.pie-element {
  height: 500px;
  width: 500px;
}

.line-chart-element {
  height: 500px;
  width: 100%;
}

.styled-table {
  margin: 15px 0;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 600px;
  border-spacing: 0px 25px;
  color:white;
}
