/* General styles */
body {
    font-size: 26px;
}

h1 {
    font-size: 2.7em;
    /*font-weight: 400;*/
}


h2 {
    font-size: 1.17em;
    text-align: center;
    font-weight: 400;
}

h2 em {
    color: #fb7756;
    text-decoration: none;
    font-style: normal;
    margin-top: 0.5em;
}

h3 {
    font-size: 1.17em;

    font-weight: 400;
}

button {
    background-color: #fb7756;
    border: none;
    color: white;
    padding: 1.5em 2.7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7em;
    border-radius: 3rem;
}


h2 em.extra-emphasis {
    font-size: 1.5em;
    display: block;
}

ol {
    font-size: 0.8em;
}

li {
    padding: 0.7em;
    font-weight: 300;
}

td {
    padding: 1.5rem;
}

th {
    padding: 0.1em;
    font-size: 1.2em;
    text-align: left;
    color: black;
    background-color: white;
    font-weight: 400;
}

tr:nth-child(odd) {
    background: #E74645;
}

tr:nth-child(even) {
    background: #FB7756;
}

a {
    color: unset;
    text-decoration: none;
}

/* Header and footer */
.header {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #E74645;
    /*color: white;*/
    margin-bottom: 30px;
}

.header-logo {
    fill: white;
    flex-direction: row;
    height: 7em;
}


.header-text {
    padding: 30px;

}

.footer-container {
    width: 70%;
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.footer {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #E74645;
    color: white;
    margin-top: 100px;
}

.contact-list {
    list-style-type: none;
    display: table-row;
    font-size: 20px;
}

.icon {
    margin-right: 10px;
}

.contact-element {
    display: flex;
    flex-direction: row;
}

/* Everything else */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 50px;
}

.links {
    font-family: monospace;
    letter-spacing: -2px;
}

.oslo-bysykkel-link{
    color:rgb(0, 95, 201);
}

.trips-element, .popular-month, .top-5, .number-of-stations {
    flex-grow: 1;
    min-width: 40%;
}

.trips-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-of-stations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-5 {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.popular-month-text {
    display: flex;
}

.bike-logo {
    fill: #FACD60;
    flex-direction: column;
    height: 50%;
}

.number-of-stations-heading {
    flex-direction: column;
}

.pie-element {
    height: 500px;
    width: 500px;
}

.line-chart-element {
    height: 450px;
    width: 100%;
}

.styled-table {
    margin: 15px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 600px;
    border-spacing: 0px 25px;
    color: white;
}

.pre-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.download-data-guide {
    padding-left: 3em;

}

.example-stat {
}

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    h1 {
        font-size: 1.7em;
    }

    .footer-container {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .popular-month {
        padding: 0 3px;
    }

    .container {
        padding: 0px 0px;
    }

    .header-logo {
        fill: white;
        flex-direction: row;
        height: 5em;
    }

    .header-text {
        padding: 12px;
    }

    .download-data-guide {
        padding: 0;
    }

    .pre-page {
        padding: 0em 0.7em;
    }

    .styled-table {
        margin: 0 0;
        font-size: 0.7em;
        font-family: sans-serif;
        min-width: 300px;
        border-spacing: 0px 12px;
        color: white;
    }

    .pie-element {
        height: 300px;
        width: 350px;
    }

}



